$primary: #020617;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$gray-1: #f8fafc;
$gray-2: #f1f5f9;
$gray-3: #e2e8f0;
$gray-4: #cbd5e1;
$gray-5: #94a3b8;
$gray-6: #64748b;
$gray-7: #475569;
$gray-8: #334155;
$gray-9: #1e293b;
$gray-10: #0f172a;
$gray-11: #020617;
